# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs.

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.adoc]
trim_trailing_whitespace = false

# Python files
[*.py]
indent_style = space
indent_size = 4

# Django settings files
**/settings.py
indent_style = space
indent_size = 4

# Django migrations
**/migrations/*.py
indent_style = space
indent_size = 4

# Ignore some directories
[**/venv/**, **/env/**]
